<% content_for :content do %>
  <body class="antialiased bg-white font-sans">
    <div class="flex flex-col min-h-screen">
      <div id="notice">
        <%= render "shared/notices" %>
      </div>

      <header class="py-4 lg:py-10">
        <div class="container mx-auto px-4">
          <%= render "shared/navbar" %>
        </div>
      </header>

      <%= yield %>
      <%= render "shared/footer" %>
    </div>

    <%= yield :footer %>
  </body>
<% end %>
<%= render template: "layouts/application" %>
